---
import './Base.scss';
import { Font } from 'astro:assets';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <Font cssVariable='--font-inter-tight' />
    <title>WEB LAYOUTS</title>
  </head>
  <body>
    <slot />
  </body>
</html>
