---
import './Header.scss';
---

<header>
  <div class='header-container'>
    <p class='name'>STUDIO</p>
    <nav>
      <ul>
        <li>
          <p>TEMPLATES</p>
        </li>
      </ul>
    </nav>
  </div>
</header>
