main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title-container {
  flex-grow: .2;
  place-items: center;
  width: 100%;
}

.template-gallery {
  flex-grow: 2;
  justify-items: center;
  width: 100%;
}


h1 {
  font-size: 3em;
}
