---
import './Home.scss';
import Header from '@components:header/Header.astro';
---

<Header />
<main>
  <section class='hero'>
    <p>HERO!</p>
  </section>
  <section class='about'>
    <p>About!</p>
  </section>
</main>
