---
import './Home.scss'
import TemplateCard from '../../components/template-card/TemplateCard.astro'
---

<main>
  <div class='title-container'>
    <h1>WEB LAYOUTS</h1>
  </div>
  <div class='template-gallery'>
    <TemplateCard templateTitle='Mens Fashion' />
  </div>
</main>
