---
import './TemplateCard.scss'

interface Props {
  templateTitle: string
}

const { templateTitle } = Astro.props
---

<div class='template-card'>
  <p class='template-card-title'>{templateTitle}</p>
</div>
